/*_______________________________ IMPORT _____________________________*/
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');

/*__________________________ GENERAL RULE __________________________*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Manrope', sans-serif;
    font-weight: 300;
    background: black;
}

/*___________________________ WEB CALENDAR _________________________*/
.web-calendar {
    width: 90%;
    height: 70%;
    padding: 30px;
    max-width: 1000px;
    max-height: 700px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

/*------------------------------ Header -----------------------------*/
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.title-container {
    width: 80%;
}

.title {
    text-align: center;
    margin: 20px 0 20px 0;
}

header i  {
    font-size: 30px;
    transition: transform .2s;
}  

header i:hover {
    transform: scale(1.2);
}


/*------------------------------- Main ------------------------------*/
main {
    flex-grow: 1;
}

.month-list {
    display: flex;
    flex-wrap: wrap;
}

.box {
    height: 50px;
    flex-basis: 25%;
    border-left: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover {
    color: #fff;
    background-color: gray;
    opacity: 0.5;
}

/*--------------------------- JS Text Color -------------------------*/
div.holiday {
    color: red;
}

