/* General rule */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* Page */
.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

/* Header */
.title {
    text-align: center;
    margin: 20px 0 20px 0;
}

/* Calendar */
.month-list {
    display: flex;
    flex-wrap: wrap;
}

.box {
    height: 50px;
    flex-basis: 25%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Action */
.arrow {
    margin: 50px 0 0 0;
    display: flex;
    justify-content: space-around;
}

.arrow i {
    font-size: 30px;
} 

/* JS Text Color */
div.holiday {
    color: red;
}